@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


:root {
    --BG-COLOR: #fff;
    --BG-COLOR2:
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: rgb(224, 230, 236);
}

.container {
    background-color: var(--BG-COLOR);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    border-radius: 25px;

}

h2 {
   font-size: 1.3rem; 
   font-family: inherit;
}

h3 {
    font-size: 1.1rem;
    font-family: inherit;
}

.title,
.list,
.password_length {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display_password {
    padding: 1rem 3rem;
    border-radius: 15px;
    background: #c40aa1;   
}

.password_length input[type="text"] {
    width: 50px;
    padding: 5px;
    font-size: 1.1rem;
    border: 2px;
}


.list {
    margin-top: .7rem;
}

