


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


:root {
    --BG-COLOR: #fff;
    --BG-COLOR2:
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: aliceblue;
}

.container {
    background-color: var(--BG-COLOR);
    display: flex;
    flex-direction: column;
    align-items: left;
    ju

}


.display_password {
    padding: 1rem 2rem;
    
}