


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


:root {
    --BG-COLOR: #fff;
    --BG-COLOR2:
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: aliceblue;
}

.container {
    background-color: var(--BG-COLOR);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    gap: 1rem;

}


.display_password {
    padding: 1rem 2rem;
    border-radius: 35px;
    background: #ffffff;
    box-shadow: inset 5px 5px 23px #d9d9d9,
            inset -5px -5px 23px #ffffff;
    
}